name: Build @bitwarden/sdk-wasm

on:
  workflow_dispatch:
  workflow_call:

defaults:
  run:
    shell: bash
    working-directory: crates/bitwarden-wasm

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Building @bitwarden/sdk-wasm
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 18
          registry-url: "https://npm.pkg.github.com"
          cache: "npm"

      - name: Install dependencies
        run: npm i -g binaryen

      - name: Install rust
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561 # stable
        with:
          toolchain: 1.88.0
          targets: wasm32-unknown-unknown

      - name: Cache cargo registry
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          key: wasm-cargo-cache

      - name: Install wasm-bindgen-cli
        run: cargo install wasm-bindgen-cli --version 0.2.105

      - name: Build
        run: ./build.sh -r

      - name: Upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: sdk-bitwarden-wasm
          path: ${{ github.workspace }}/languages/js/wasm/*
          if-no-files-found: error

      - name: Set version
        if: ${{ github.ref == 'refs/heads/main' }}
        # Fetches current version from registry and uses prerelease to bump it
        run: |
          npm version --no-git-tag-version "$(npm view @bitwarden/sdk-wasm@latest version)"
          npm version --no-git-tag-version prerelease
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: languages/js/wasm

      - name: Publish NPM
        if: ${{ github.ref == 'refs/heads/main' }}
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        working-directory: languages/js/wasm
