name: Publish .NET NuGet
run-name: Publish .NET NuGet Package ${{ inputs.release_type }}

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Release Options"
        required: true
        default: "Release"
        type: choice
        options:
          - Release
          - Dry Run
      version:
        description: "Release Version"
        required: false
        default: "latest"

jobs:
  validate:
    name: Setup
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    outputs:
      version: ${{ steps.version-output.outputs.version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Branch check
        if: ${{ inputs.release_type != 'Dry Run' }}
        run: |
          if [[ "$GITHUB_REF" != "refs/heads/main" ]]; then
            echo "==================================="
            echo "[!] Can only release from the 'main' branch"
            echo "==================================="
            exit 1
          fi

      - name: Version output
        id: version-output
        env:
          VERSION: ${{ inputs.version }}
        run: |
          if [[ "${VERSION}" == "latest" || "${VERSION}" == "" ]]; then
            TAG_NAME=$(curl  "https://api.github.com/repos/bitwarden/sdk-sm/releases" | jq -c '.[] | select(.tag_name | contains("dotnet")) | .tag_name' | head -1)
            VERSION=$(echo "$TAG_NAME" | grep -ohE '20[0-9]{2}\.([1-9]|1[0-2])\.[0-9]+')
            echo "Latest Released Version: $VERSION"
            echo "version=$VERSION" >> "$GITHUB_OUTPUT"

            echo "Latest Released Tag name: $TAG_NAME"
            echo "tag_name=$TAG_NAME" >> "$GITHUB_OUTPUT"
          else
            echo "Release Version: ${VERSION}"
            echo "version=${VERSION}" >> "$GITHUB_OUTPUT"
          fi

  deploy:
    name: Deploy
    runs-on: ubuntu-22.04
    needs: validate
    permissions:
      contents: read
      deployments: write
      id-token: write
    steps:
      - name: Create GitHub deployment
        if: ${{ inputs.release_type != 'Dry Run' }}
        uses: chrnorm/deployment-action@55729fcebec3d284f60f5bcabbd8376437d696b1 # v2.0.7
        id: deployment
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          initial-status: "in_progress"
          environment: "dotnet - Production"
          description: "Deployment ${{ needs.validate.outputs.version }} from branch ${{ github.ref_name }}"
          task: release

      - name: Download artifact
        env:
          VERSION: ${{ needs.validate.outputs.version }}
        run: |
          mkdir -p nuget-output
          cd nuget-output
          wget "https://github.com/bitwarden/sdk-sm/releases/download/dotnet-v${VERSION}/Bitwarden.Secrets.Sdk.${VERSION}.nupkg"

      - name: Log in to Azure
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Get Azure Key Vault secrets
        id: get-kv-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: gh-sdk-sm
          secrets: "NUGET-OIDC-USER"

      - name: Log out from Azure
        uses: bitwarden/gh-actions/azure-logout@main

      - name: Login to NuGet
        id: login-nuget
        uses: nuget/login@d22cc5f58ff5b88bf9bd452535b4335137e24544 # v1.1.0
        with:
          user: ${{ steps.get-kv-secrets.outputs.NUGET-OIDC-USER }}

      - name: Publish NuGet Package
        if: ${{ inputs.release_type != 'Dry Run' }}
        env:
          NUGET_SOURCE: "https://api.nuget.org/v3/index.json"
          NUGET_API_KEY: ${{ steps.login-nuget.outputs.NUGET_API_KEY }}
        run: >
          dotnet nuget push ./nuget-output/*.nupkg
          --source "${NUGET_SOURCE}"
          --api-key "${NUGET_API_KEY}"

      - name: Update deployment status to Success
        if: ${{ inputs.release_type != 'Dry Run' && success() }}
        uses: chrnorm/deployment-status@9a72af4586197112e0491ea843682b5dc280d806 # v2.0.3
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          state: "success"
          deployment-id: ${{ steps.deployment.outputs.deployment_id }}

      - name: Update deployment status to Failure
        if: ${{ inputs.release_type != 'Dry Run' && failure() }}
        uses: chrnorm/deployment-status@9a72af4586197112e0491ea843682b5dc280d806 # v2.0.3
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          state: "failure"
          deployment-id: ${{ steps.deployment.outputs.deployment_id }}
