name: Release Python SDK
run-name: Release Python SDK ${{ inputs.release_type }}

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Release Options"
        required: true
        default: "Release"
        type: choice
        options:
          - Release
          - Dry Run

permissions: {}

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Branch check
        if: ${{ inputs.release_type != 'Dry Run' }}
        run: |
          if [[ "$GITHUB_REF" != "refs/heads/main" ]]; then
            echo "==================================="
            echo "[!] Can only release from the 'main' branch"
            echo "==================================="
            exit 1
          fi

      - name: Get version
        id: version
        run: |
          VERSION=$(cargo metadata --manifest-path ./crates/bitwarden-py/Cargo.toml --no-deps --format-version=1 | jq -r '.packages[0].version')
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

  release:
    name: Release
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      actions: read
    needs: setup
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Download artifacts
        uses: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
        with:
          workflow: build-python-wheels.yml
          path: ${{ github.workspace }}/target/wheels/dist
          workflow_conclusion: success
          branch: main
          name: bitwarden_sdk(.*)
          name_is_regexp: true

      - name: Move all whl files to single directory
        run: |
          shopt -s globstar
          mv ./**/*.whl .
        working-directory: ${{ github.workspace }}/target/wheels/dist

      - name: Create GitHub release
        if: ${{ inputs.release_type != 'Dry Run' }}
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        env:
          PKG_VERSION: ${{ needs.setup.outputs.version }}
        with:
          commit: ${{ github.sha }}
          tag: python-v${{ env.PKG_VERSION }}
          name: Python v${{ env.PKG_VERSION }}
          body: "<insert release notes here>"
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          artifacts: |
            ${{ github.workspace }}/target/wheels/dist/bitwarden_sdk-*.whl
