name: Release Go SDK
run-name: Release Go SDK ${{ inputs.release_type }}

on:
  # If automatically called, this is an automated release
  workflow_call:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Release Options"
        required: true
        default: "Release"
        type: choice
        options:
          - CI
          - Release
          - Dry Run

env:
  GO111MODULE: on
  GO_VERSION: "^1.21"
  _KEY_VAULT: "bitwarden-ci"

jobs:
  validate:
    name: Setup
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Branch check
        if: ${{ inputs.release_type == 'Release' }}
        run: |
          if [[ "$GITHUB_REF" != "refs/heads/main" ]]; then
            echo "==================================="
            echo "[!] Can only release from the 'main' branches"
            echo "==================================="
            exit 1
          fi

      - name: Get version
        id: version
        env:
          _CI_TAG: ${{ inputs.release_type == 'CI' && github.run_number || '' }}
        run: |
          VERSION=$(cat languages/go/.version | grep -Eo "[0-9]+\.[0-9]+\.[0-9]+")
          if [ "$_CI_TAG" != "" ]; then
            VERSION="$VERSION-ci.${_CI_TAG}"
          fi
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"

  repo-sync:
    name: Push changed files to SDK Go repo
    runs-on: ubuntu-22.04
    needs: validate
    permissions:
      actions: read
      contents: write
      id-token: write
    env:
      _BOT_EMAIL: 106330231+bitwarden-devops-bot@users.noreply.github.com
      _BOT_NAME: bitwarden-devops-bot
      _PKG_VERSION: ${{ needs.validate.outputs.version }}

    steps:
      - name: Checkout SDK repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          path: sdk
          persist-credentials: false

      - name: Log in to Azure
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Retrieve secrets
        id: retrieve-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: ${{ env._KEY_VAULT }}
          secrets: "github-pat-bitwarden-devops-bot-repo-scope"

      - name: Log out from Azure
        uses: bitwarden/gh-actions/azure-logout@main

      - name: Checkout SDK-Go repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: bitwarden/sdk-go
          path: sdk-go
          ref: main
          token: ${{ steps.retrieve-secrets.outputs.github-pat-bitwarden-devops-bot-repo-scope }}
          persist-credentials: true

      - name: Setup Git
        working-directory: sdk-go
        run: |
          git config --local user.email "${{ env._BOT_EMAIL }}"
          git config --local user.name "${{ env._BOT_NAME }}"

      - name: Download x86_64-apple-darwin artifact
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-rust-cross-platform.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: libbitwarden_c_files-x86_64-apple-darwin
          skip_unpack: true

      - name: Download aarch64-apple-darwin artifact
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-rust-cross-platform.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: libbitwarden_c_files-aarch64-apple-darwin
          skip_unpack: true

      - name: Download x86_64-unknown-linux-musl artifact
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-rust-cross-platform.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: libbitwarden_c_files-x86_64-unknown-linux-musl
          skip_unpack: true

      - name: Download aarch64-unknown-linux-musl artifact
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-rust-cross-platform.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: libbitwarden_c_files-aarch64-unknown-linux-musl
          skip_unpack: true

      - name: Download x86_64-pc-windows-gnu artifact
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-rust-cross-platform.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: libbitwarden_c_files-x86_64-pc-windows-gnu
          skip_unpack: true

      - name: Update files
        run: |
          # Copy files to local sdk-go repo path
          cp --verbose -rf sdk/languages/go/. sdk-go
          # Remove the old cinterface lib files
          rm -rf sdk-go/internal/cinterface/lib/*
          mkdir -p sdk-go/internal/cinterface/lib/{darwin-{x64,arm64},linux-{x64,arm64},windows-x64}

      - name: Extract static libs to their respective directories
        run: |
          unzip 'libbitwarden_c_files-x86_64-apple-darwin.zip' '*.a' -d sdk-go/internal/cinterface/lib/darwin-x64
          unzip 'libbitwarden_c_files-aarch64-apple-darwin.zip' '*.a' -d sdk-go/internal/cinterface/lib/darwin-arm64
          unzip 'libbitwarden_c_files-x86_64-unknown-linux-musl.zip' '*.a' -d sdk-go/internal/cinterface/lib/linux-x64
          unzip 'libbitwarden_c_files-aarch64-unknown-linux-musl.zip' '*.a' -d sdk-go/internal/cinterface/lib/linux-arm64
          unzip 'libbitwarden_c_files-x86_64-pc-windows-gnu.zip' '*.a' -d sdk-go/internal/cinterface/lib/windows-x64

      - name: Download artifacts
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: generate_schemas.yml
          path: sdk-go
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: schemas.go

      - name: Push changes
        working-directory: sdk-go
        run: |
          if git diff --exit-code >/dev/null 2>&1; then
            echo "There are no commitable changes to the Go SDK, skipping commiting or creating a release."
            exit 1
          else
            git add .
            git commit -m "Update Go SDK to ${{ github.sha }}"

            if [[ "${{ inputs.release_type }}" == "Dry Run" ]]; then
              echo "==================================="
              echo "[!] Dry Run - Skipping push"
              echo "==================================="
              git ls-files -m
              exit 0
            else
              git push origin main
            fi
          fi

      - name: Create release tag on SDK Go repo
        if: ${{ inputs.release_type != 'Dry Run' }}
        working-directory: sdk-go
        run: |
          # Check if tag exists, set output then exit 0 if true.
          if git log "v${_PKG_VERSION}" >/dev/null 2>&1; then
            echo "==================================="
            echo "[!] Tag v${_PKG_VERSION} already exists"
            echo "==================================="
            exit 1
          fi

          git tag "v${_PKG_VERSION}"
          git push origin "v${_PKG_VERSION}"

  github-release:
    name: GitHub Release
    runs-on: ubuntu-22.04
    needs:
      - repo-sync
      - validate
    permissions:
      actions: read
      contents: write
      id-token: write
    env:
      _PKG_VERSION: ${{ needs.validate.outputs.version }}
    steps:
      - name: Log in to Azure
        uses: bitwarden/gh-actions/azure-login@main
        with:
          subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          tenant_id: ${{ secrets.AZURE_TENANT_ID }}
          client_id: ${{ secrets.AZURE_CLIENT_ID }}

      - name: Retrieve secrets
        id: retrieve-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: ${{ env._KEY_VAULT }}
          secrets: "github-pat-bitwarden-devops-bot-repo-scope"

      - name: Log out from Azure
        uses: bitwarden/gh-actions/azure-logout@main

      - name: Download x86_64-apple-darwin artifact
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-rust-cross-platform.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: libbitwarden_c_files-x86_64-apple-darwin
          skip_unpack: true

      - name: Download aarch64-apple-darwin artifact
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-rust-cross-platform.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: libbitwarden_c_files-aarch64-apple-darwin
          skip_unpack: true

      - name: Download x86_64-unknown-linux-musl artifact
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-rust-cross-platform.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: libbitwarden_c_files-x86_64-unknown-linux-musl
          skip_unpack: true

      - name: Download aarch64-unknown-linux-musl artifact
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-rust-cross-platform.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: libbitwarden_c_files-aarch64-unknown-linux-musl
          skip_unpack: true

      - name: Download x86_64-pc-windows-gnu artifact
        uses: bitwarden/gh-actions/download-artifacts@main
        with:
          workflow: build-rust-cross-platform.yml
          workflow_conclusion: success
          branch: ${{ inputs.release_type != 'Release' && 'main' || github.ref_name }}
          artifacts: libbitwarden_c_files-x86_64-pc-windows-gnu
          skip_unpack: true

      - name: Rename build artifacts
        run: |
          artifacts=("x86_64-apple-darwin" "aarch64-apple-darwin" "x86_64-unknown-linux-musl" "aarch64-unknown-linux-musl" "x86_64-pc-windows-gnu")
          for value in "${artifacts[@]}"
          do
            unzip "libbitwarden_c_files-$value.zip" -d "libbitwarden_c_files-$value"
            cd "libbitwarden_c_files-$value"
            zip -Rj "../libbitwarden_c_files-$value-$_PKG_VERSION.zip" 'libbitwarden_c.*'
            cd ..
          done

          ls "./libbitwarden_c_files-x86_64-apple-darwin-$_PKG_VERSION.zip" -lRa

      - name: Create release
        if: ${{ inputs.release_type != 'Dry Run' }}
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          tag: v${{ env._PKG_VERSION }}
          name: v${{ env._PKG_VERSION }}
          body: ${{ inputs.release_type == 'Release' && '<insert release notes here>' || 'This is a CI release used for internal testing. Please do not use.' }}
          token: ${{ steps.retrieve-secrets.outputs.github-pat-bitwarden-devops-bot-repo-scope }}
          draft: true
          repo: sdk-go
          owner: bitwarden
          prerelease: ${{ inputs.release_type == 'CI' }}
          artifacts: "libbitwarden_c_files-x86_64-apple-darwin-${{ env._PKG_VERSION }}.zip,
            libbitwarden_c_files-aarch64-apple-darwin-${{ env._PKG_VERSION }}.zip,
            libbitwarden_c_files-x86_64-unknown-linux-musl-${{ env._PKG_VERSION }}.zip,
            libbitwarden_c_files-aarch64-unknown-linux-musl-${{ env._PKG_VERSION }}.zip,
            libbitwarden_c_files-x86_64-pc-windows-gnu-${{ env._PKG_VERSION }}.zip"
