name: Test Go SDK

on:
  push:
    branches:
      - "main"
      - "rc"
      - "hotfix-rc"
    paths:
      - "languages/python/**"
      - "crates/bitwarden/**"
      - "crates/bitwarden-c/**"
      - "crates/fake-server/**"
      - ".github/workflows/test-go.yml"
  pull_request:
    types: [opened, synchronize]
    paths:
      - "languages/go/**"
      - "crates/bitwarden/**"
      - "crates/bitwarden-c/**"
      - "crates/fake-server/**"
      - ".github/workflows/test-go.yml"

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  test:
    name: Test Go SDK
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          # - windows-latest FIXME: https://gist.github.com/tangowithfoxtrot/beb737c1a804533870f10560eaf2f7c3

    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25"
          cache: "true"

      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: "18"
          cache: "npm"

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561 # stable
        with:
          toolchain: stable

      - name: Cache Rust dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Setup Go SDK
        run: ./scripts/bootstrap.sh setup go

      - name: Run Go SDK tests
        run: ./scripts/bootstrap.sh test go
